* {
    box-sizing: border-box;
}

body {
    color: white;
    font-weight: 100;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.main-wrapper, section {
    width: 100%;
    max-width: 375px;
    height: 100%;
}

section {
    overflow: hidden;
    background: linear-gradient(#00B4FF, #003CBE);
    opacity: 0;
    transition: opacity 1.5s;
    position: absolute;
    top: 0;
    z-index: 10;
}

section.visible {
    z-index: 100;
    opacity: 1;
}

.button {
    height: 68px;
    width: 68px;
}

a {
    color: white;
    text-decoration: none;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

.telephone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
}

.telephone img {
    height: 12px;
}

.index .slider {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.index .slider img {
    margin: 17.5px;
    margin-top: 0;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}


.index p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.4em;
    margin: 40px 20px;
    margin-bottom: 50px;
}


.listening h1 {
    padding-top: 200px;
}


#recordButton {
    text-align: center;
    box-shadow: inset 0 0 0 15px rgba(100, 100, 100, .25);
    border-radius: 50%;
    padding: 10px;
    height: 143px;
}

#recordButton svg,
#listeningSVG {
    width: 65px;
    cursor: pointer;
}

#recordButton svg *,
#listeningSVG * {
    stroke: white;
}

#listeningSVG {
    /* margin-top: 100px; */
    background: linear-gradient(#E5E5E5, #E5E5E5);
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

.result h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.result h3 {
    font-size: 20px;
    margin-bottom: 23px;
}

.result hr {
    opacity: .5;
    margin-block-end: 10px;
}

.result .match {
    margin-bottom: 15px;
}

.result .song-logo {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.result header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.result header .export {
    width: 16px;
    height: 20px;
}

.result #track {
    font-size: 20px;
}

.button-wrapper {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button-wrapper .circle {
    transition: all 0.5s;
    border-radius: 50%;
    position: absolute;
    opacity: .5;

}

.button-wrapper #listeningSVG {
    z-index: 40;
}

.button-wrapper .c1 {
    background-color: rgba(249, 249, 249, .2);
    height: 150px;
    width: 150px;
    z-index: 30;
}

.button-wrapper .c2 {
    background-color: rgba(249, 249, 249, .05);
    height: 180px;
    width: 180px;
    z-index: 20;
}