body {
    color: white;
    font-weight: 100;
    height: 100vh;
    width: 100vw;
    text-align: center;
}


section {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#13406d, #000);
    opacity: 0;
    transition: opacity 1.5s;
    position: absolute;
    top: 0;
    z-index: 10;
}

.index {
    opacity: 1;
}

.index h1 {
    margin-top: 80px;
}

.index  .slider {
    display: flex;
    transform: translateX(-20vw);
    flex-direction: row;
}

.index  .slider img {
    margin: 10px;
    height: 150px;
}


.index p {
    font-size: 1.2em;
    text-align: center;
    margin-top: 40px;
}


.listening h1 {
    padding-top: 200px;
}


#recordButton {
    text-align: center;
    margin-top: 60px;
}

#recordButton svg, #listeningSVG {
    width: 65px;
    cursor: pointer;
}

#recordButton svg *, #listeningSVG * {
    stroke: white;
}

#listeningSVG {
    /* margin-top: 100px; */
    background: linear-gradient(#13406d, #000);
    border-radius: 50%;
}

.result hr {
    opacity: .5;
    margin-block-end: 10px;
}

.result img {
    width: 80%;
    display: block;
    margin: 0 auto 200px;
    transform: translateY(40px)
}

.button-wrapper {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button-wrapper .circle {
    transition: all 0.5s;
    border-radius: 50%;
    position: absolute;
    opacity: .5;

}

.button-wrapper #listeningSVG {
    z-index: 40;
} 

.button-wrapper .c1 {
    background-color: #42617d;
    height: 150px;
    width: 150px;
    z-index: 30;
}

.button-wrapper .c2 {
    background-color: #123f65;
    height: 180px;
    width: 180px;
    z-index: 20;
}

.button-wrapper .c3 {
    background-color: #1b5e97;
    height: 200px;
    width: 200px;
    z-index: 10;
}